H5 {
    text-align: right;
    color: green;
}
body {
    width:60%;
    margin: auto;
}
H2 {
    text-align: center;
    color: red;
}
img {
    width: 70%;
    display: block;
    margin: auto;

}