H5 {
    text-align: right;
    color: green;
}
body {
    width:60%;
    margin: auto;
}
H2 {
    text-align: center;
    color: red;
}
img {
    width: 70%;
    display: block;
    margin: auto;

}
.main-href {
    width: 100px;
    float: left;
    margin: 4px 10px 2px 0px;
    border: 2px;
    align: center;
    }

ul {
   padding-left: 40px;
   margin-top: 1em;
   margin-bottom: 1em;
}